body {
    margin-left: 20%;
}

#container {
    display: flex;
    text-align: center;
    flex-direction: row;
}

#esquerda {
    order: 1; 
}

p {
    order: 2; 
    margin-top: 15%;
    max-width: 500px;
}

@media screen and (max-width: 768px) {
    #container {
        flex-direction: column;
    }

    body {
        margin-left: 20%;
    }

    #esquerda,
    p {
        margin-top: 0%;
        order: 0; 
        max-width: 300px;
    }
}