/* Default styles for larger screens */
body {
    margin-left: 20%;
}

#container {
    display: flex;
    text-align: center;
}

#esquerda {
    order: 1; /* Display on the left */
    margin-top: 200px;
}

p {
    order: 2; /* Display on the right */
    margin-top: 350px;
    max-width: 500px;
}

/* Media query for screens up to 768px */
@media screen and (max-width: 768px) {
    #container {
        flex-direction: column; /* Stack elements on top of each other */
    }

    body {
        margin-left: 20%;
    }

    #esquerda,
    p {
        margin-top: 0%;
        order: 0; /* Reset the order for stacking */
        max-width: 300px;
    }
}